* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.game-board {
  border-bottom: 15px solid green;
  background: linear-gradient(#87ceeb, #e0f6ff);
  height: 100vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-color: rgb(137, 213, 236);
}
.clouds {
  width: 400px;
  padding-top: 40px;
  opacity: 50%;
  position: absolute;
  animation: clouds-animation 20s;
}
.pipe {
  position: absolute;
  bottom: 0;
  width: 60px;

  animation: pipe-animation 2s infinite linear;
}
.mario {
  position: absolute;
  bottom: 0;
  width: 150px;
}
.jump {
  animation: jump 1s;
}

@keyframes pipe-animation {
  from {
    right: -80px;
  }
  to {
    right: 100%;
  }
}
@keyframes jump {
  0% {
    bottom: 0;
  }
  40% {
    bottom: 200px;
  }
  50% {
    bottom: 180px;
  }
  60% {
    bottom: 160px;
  }
  65% {
    bottom: 140px;
  }
  70% {
    bottom: 100px;
  }
  75% {
    bottom: 80px;
  }
  80% {
    bottom: 60px;
  }
  85% {
    bottom: 40px;
  }
  90% {
    bottom: 30px;
  }
  95% {
    bottom: 20px;
  }
  100% {
    bottom: 10px;
  }
}
@keyframes clouds-animation {
  from {
    right: 0;
  }
  to {
    right: 100%;
  }
}
